@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/css/datepicker-new.css";
@import "./assets/css/form.css";
@import "./assets/css/jquery-ui.css";
@import "./assets/css/multiselect.css";
@import "./assets/css/style.css";
